<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center mt-4">
                    <img src="../../../assets/image/expectations.png"/>
                    <h2 class="text-primary">Login here</h2>
                    <div class="card p-4 shadow">
                        <form (ngSubmit)="formSubmit()" >
                             <!-- Username -->
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Username</mat-label>
                                <input [(ngModel)]="loginData.username" 
                                required matInput name="username" type="text" 
                                placehoder="Enter your username" />
                            </mat-form-field>
                             <!-- Password -->
                            <mat-form-field style="width: 100%;" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input [(ngModel)]="loginData.password" 
                                required matInput name="password" 
                                type="password" placehoder="Enter your Password" />
                            </mat-form-field>
                            <div class="container text-center">
                                <button type="submit" mat-raised-button class="m-2" color="primary">Login</button>
                                <button type="reset" mat-raised-button class="m-2" color="accent">Clear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
