<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <mat-drawer-container style="min-height: 100vh;">
                <mat-drawer color="accent" #drawer mode="side">
                    <mat-action-list role="list">
                        <button mat-list-item routerLink="/admin">
                            <mat-icon mat-list-icon>home</mat-icon> Home
                        </button>
                        <button mat-list-item routerLink="/admin/profile">
                            <mat-icon mat-list-icon>account_circle</mat-icon> Profile
                        </button>
                        <button mat-list-item routerLink="/admin/categories">
                            <mat-icon mat-list-icon>add_circle_outline</mat-icon> 
                            Categories
                        </button>
                        <button mat-list-item routerLink="/admin/add-category">
                            <mat-icon mat-list-icon>folder</mat-icon> 
                            Add Categories
                        </button>
                        <button mat-list-item routerLink="/admin/quizzes">
                            <mat-icon mat-list-icon>quiz</mat-icon> 
                            Quizzes
                        </button>
                        <button mat-list-item routerLink="/admin/add-quiz">
                            <mat-icon mat-list-icon>add</mat-icon> 
                            Add Quiz
                        </button>
                        <button mat-list-item routerLink="/admin/profile">
                            <mat-icon mat-list-icon>logout</mat-icon> Logout
                        </button>
                        <button mat-list-item routerLink="/admin/quiz-table">
                            <mat-icon mat-list-icon>grid</mat-icon> Logout
                        </button>
                    </mat-action-list>
                </mat-drawer>

                <button mat-icon-button 
                color="accent" 
                style="inset-inline-start: initial;"
                (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <router-outlet></router-outlet>
            </mat-drawer-container>
        </div>
    </div>
</div>
